.tablas{
    text-align: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.carta{
    padding: 0px 0px;
    border: 0px;
    margin: 20px;

}

.boton{
    font-family: 'Walter Turncoat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    background-color: #E82805;
    color: white;
    padding: 10px;
    border: 0px;
    margin: 0px;
}